<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289614319188-dhu3de7h1h6lsd7f6taso10tftut69gb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289614319188-dhu3de7h1h6lsd7f6taso10tftut69gb</string>
	<key>API_KEY</key>
	<string>AIzaSyD8XAhyTJeXVyUPhTMYCJ1rGMZz4c5j9vw</string>
	<key>GCM_SENDER_ID</key>
	<string>289614319188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ameera.com.AmeeraAbduallah</string>
	<key>PROJECT_ID</key>
	<string>grocerylist-d9d83</string>
	<key>STORAGE_BUCKET</key>
	<string>grocerylist-d9d83.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289614319188:ios:7e30bdcb88c762a61ae7c1</string>
	<key>DATABASE_URL</key>
	<string>https://grocerylist-d9d83-default-rtdb.firebaseio.com</string>
</dict>
</plist>